# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgres://gitpod:postgres@localhost:5432/example
FLASK_APP_KEY=
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE
APP_ENV=development

TOKEN_SECRET=

BASENAME=/
BACKEND_URL=http://localhost:3001
REACT_APP_BACKEND_URL=http://localhost:3001
FRONTEND_URL=http://localhost:3000

RESEND_API_KEY=
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=SportFlow